<header class="row text-left title">
  <h1 class="title">{{ .Title }}</h1>
</header>
<section id="category-pane" class="row meta">
  <div class="col-md-12">
    <h6 class="text-left meta">
      {{ i18n "published_on" | upper}} {{ .Date.Format .Site.Params.dateformat | upper }}
      {{ if ne .Params.showpagemeta false }}
      {{ if isset .Params "categories" }}
      {{ $total := len .Params.categories }}
      {{ if gt $total 0 }}
      @
      {{ $total := sub $total 1 }}
      {{ range $i, $cat := sort $.Params.categories }}
      <a class="meta" href="{{ "/categories/" | relLangURL }}{{ $cat | urlize }}">{{ $cat | upper }}</a>{{ if lt $i $total }}, {{ end }}
      {{ end }}
      {{ end }}
      {{ end }}
      {{ end }}
    </h6>
  </div>
</section>
{{ if ne .Params.showpagemeta false }}
{{ if isset .Params "tags" }}
{{ $total := len .Params.tags }}
{{ if gt $total 0 }}
<section id="tag-pane" class="row meta">
  <div class="col-md-12">
    <h6 class="text-left meta">
      TAGS:
      {{ range $i, $tag := sort $.Params.tags }}
      <a class="tag meta" href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">#{{ $tag | upper }}</a>
      {{ end }}
    </h6>
  </div>
</section>
{{ end }}
{{ end }}
{{ if .IsTranslated }}
<section id="lang-pane" class="row meta">
  <div class="col-md-12">
    <h6 class="text-left meta">
      {{ i18n "languages" | upper}}:
      {{ range $.Translations }}
      <a href="{{ .Permalink }}">{{ .Lang | upper}}</a>
      {{ end }}
    </h6>
  </div>
</section>
{{ end }}
{{ end }}
<section id="content-pane" class="row">
  <div class="col-md-12 text-justify content">
    {{ .Content }}
  </div>
</section>
